@media screen and (min-width: 1281px){


html {
  overflow-y: scroll;
  overflow-x: hidden;
}

body{
  padding:0;
  margin:0;
}

@font-face {
    font-family: OstrichSans-Black;
    src: url('ostrich-sans/OstrichBlack.ttf');
}

.clearfix{
  clear:both;
}

#clear{
  visibility: hidden;
}

ul
{
  list-style-type: none;
  margin: 0;
  width: 100%;
  background-color: transparent;
  height: 55px;
  position: fixed;
  overflow: auto;
  top: 0;
  z-index: 2;
  min-width: 90em;
}

a:link {
  text-decoration: none;
}

a{
  color: white;
}

li a{
  padding:  0px 25px;
}

.li2
{
  display: inline-block;
  font-family: 'Economica', sans-serif;
  font-size: 28px;
}

li{
  list-style: none;
  display: inline-block;
}

#nav{
  text-align: justify;
  width: 100%;
  transition: 0.5s;
}

#nav:after{
  display: inline-block;
  width: 100%;
}

#background{
  background-color: white;
  height: 450px;
  width: 100%;
  min-width: 90em;
}

#background_image{
  width: 110%;
  height: 100%;
  position: fixed;
  z-index: -1;
  min-width: 90em;
}

#background_image_buffer{
  height: 100%;
  width: 100%;
  min-width: 90em;
}

#buffer_text{
  padding-top: 40%;
  font-family: 'Economica', sans-serif;
  color: white;
  text-shadow: -3px 0 #00395e, 0 3px #00395e, 3px 0 #00395e, 0 -3px #00395e;
  font-size: 124px;
  margin: 0;
}

#about_text{
  float: left;
  margin-left: 17.5%;
  margin-top: 75px;
  font-family: 'Economica', sans-serif;
  color: #00395e;
  font-size: 36px;
  z-index: 3;
}

#about_image{
  height: 300px;
  width: 260px;
  border-radius: 50%;
  border: 5px solid #00395e;
  float: right;
  margin-top: 75px;
  margin-right: 17.5%;
  z-index: 3;
}

#background_experience{
  width: 100%;
  background-color: #00395e;
  height: 500px;
}

#background_projects{
  width: 100%;
  background-color: transparent;
  height: 650px;
  min-width: 90em;
}

#project_image1, #project_image2, #project_image3, #project_image4{
  margin-top: calc((600px - 275px)/2);
  display: inline-block;
  height: 275px;
  width: 20%;
  border: 3px solid #00395e;
  margin-left: 40px;
  margin-right: 40px;
  max-height: 25%;
}

#skills_and_contact{
  width: 100%;
  height: 500px;
  min-width: 95em;
  background-color: #00c2e0;
}

#footer{
  height: 225px;
  width: 100%;
  min-width: 113em;
  background-color: #f1f1f1;
}

#footer_images{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#footer_text{
  font-family: 'Economica', sans-serif;
  font-size: 28px;
  color: #00395e;
}

#bar{
  float: left;
  width: 3px;
  height: 400px;
  background-color: white;
  margin-top: 50px;
}

#contact{
  float: left;
  margin-left: 100px;
  margin-top: 75px;
}

#skills_text_small{
    font-family: 'Economica', sans-serif;
    float: left;
    color: white;
    font-size: 32px;
    margin-right: 100px;
    margin-top: 100px;
    margin-left: 11%;
}

input[type=text], select {
  float: right;
  width: 380px;
  padding: 5px 0px;
  margin: 0px 0px;
  box-sizing: border-box;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  border: 2px solid #00395e;
  margin-left: 40px;
}

input[type=email], select {
  float: right;
  width: 380px;
  padding: 5px 0px;
  margin: 0px 0px;
  box-sizing: border-box;
  font-family: 'Economica', sans-serif;
  font-size: 20px;
  border: 2px solid #00395e;
}

input[type=submit] {
  background-color: white;
  font-family: 'Economica', sans-serif;
  font-size: 24px;
  color: black;
  padding: 10px 20px;
  margin: 0px 0;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 150px;
  transition: opacity .5s;
}

label{
  font-family: 'Economica', sans-serif;
  color: white;
  font-size: 32px;
}

#subject{
  float: right;
  width: 400px;
  max-width: 375px;
  border: 2px solid #00395e;
  margin-bottom: 25px;
  height: 175px;
}

#submit{
  float: right;
}
}

@media screen and (orientation: portrait) and (max-width:1281px){
  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  body{
    padding:0;
    margin:0;
    overflow-x: hidden;
  }

  #clear{
    clear:both;
  }

  ul
  {
    list-style-type: none;
    margin: 0;
    width: 100%;
    background-color: transparent;
    height: 125px;
    position: fixed;
    overflow: auto;
    top: 0;
    z-index: 2;
    min-width: 100%;
  }

  a:link {
    text-decoration: none;
  }

  a{
    color: white;
  }

  li a{
    padding:  0px 25px;
  }

  .li2
  {
    display: inline-block;
    font-family: 'Economica', sans-serif;
    font-size: 64px;
    text-align: center;
  }

  li{
    list-style: none;
    display: inline-block;
  }

  #nav{
    text-align: justify;
    width: 100%;
    min-width: 100%;
    transition: 0.5s;
  }

  #nav:after{
    display: inline-block;
    width: 100%;
    min-width: 100%;
  }

  #background{
    background-color: white;
    height: 1600px;
    width: 100%;
    min-width: 100%;
    overflow-x: auto;
  }

  #background_image{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    min-width: 100%;
  }

  #background_image_buffer{
    height: 100%;
    width: 100%;
    min-width: 100%;
  }

  #buffer_text{
    padding-top: 15%;
    font-family: 'Economica', sans-serif;
    color: white;
    text-shadow: -3px 0 #00395e, 0 3px #00395e, 3px 0 #00395e, 0 -3px #00395e;
    font-size: 148px;
    margin-top: 100%;
    margin: 0;
  }

  #about_text{
    text-align: center;
    margin-top: 100px;
    font-family: 'Economica', sans-serif;
    color: #00395e;
    font-size: 72px;
    z-index: 3;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 50px;
  }

  #about_image{
    height: 550px;
    width: 475px;
    border-radius: 50%;
    border: 5px solid #00395e;
    margin-top: 150px;
    z-index: 3;
    margin-left: calc((100% - 475px)/2);
  }

  #background_experience{
    width: 100%;
    background-color: #00395e;
    height: 400px;
  }

  #background_projects{
    width: 100%;
    background-color: transparent;
    height: 2750px;
    min-width: 100%;
  }

  #project_image1, #project_image2, #project_image3, #project_image4{
    margin-top: 150px;
    height: 500px;
    width: 80%;
    border: 3px solid #00395e;
    margin-left: 40px;
    margin-right: 40px;
    overflow-x: scroll;
  }

  #skills_and_contact{
    width: 100%;
    height: 1600px;
    min-width: 100%;
    background-color: #00c2e0;
  }

  #footer{
    height: 300px;
    width: 100%;
    min-width: 100% ;
    background-color: #f1f1f1;
  }

  #footer_images{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
  }

  #footer_text{
    font-family: 'Economica', sans-serif;
    font-size: 52px;
    color: #00395e;
  }

  #bar{
    float: left;
    width: 90%;
    height: 10px;
    background-color: white;
    margin-top: 100px;
    margin-left: 5%;
  }

  #contact{
    float: left;
    margin-top: 100px;
    margin-left: 8%;
  }

  #skills_text_small{
      font-family: 'Economica', sans-serif;
      text-align: center;
      color: white;
      font-size: 64px;
      margin-right: 100px;
      margin-top: 100px;
      margin-left: 11%;
      padding-top: 100px;
  }

  input[type=text], select {
    float: right;
    width: 650px;
    height: 75px;
    padding: 5px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
    font-family: 'Economica', sans-serif;
    font-size: 42px;
    border: 2px solid #00395e;
    margin-left: 40px;
  }

  input[type=email], select {
    float: right;
    width: 650px;
    height: 75px;
    padding: 5px 0px;
    margin: 0px 0px;
    box-sizing: border-box;
    font-family: 'Economica', sans-serif;
    font-size: 42px;
    border: 2px solid #00395e;
  }

  input[type=submit] {
    background-color: white;
    font-family: 'Economica', sans-serif;
    font-size: 42px;
    color: black;
    padding: 10px 20px;
    margin: 0px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 150px;
    transition: opacity .5s;
  }

  label{
    font-family: 'Economica', sans-serif;
    color: white;
    font-size: 62px;
  }

  #subject{
    float: right;
    width: 642px;
    height: 300px;
    border: 2px solid #00395e;
    margin-bottom: 25px;
    font-size: 42px;
  }

  #submit{
    margin-left: 25%;
    font-size: 42px;
    height: 85px;
    width: 50%;
    margin-top: 25px;
  }
}
