html {
  overflow-y: scroll;
}

.flink, .hlink, .slink, .tlink, .downloadLink
{
    color:white;
    font-family: Avalon;
    font-size: 20px;
    transition: color .5s;
}

.hlink, .slink{
    color: white;
    padding-left: 30px;
}

.flink, .slink
{
    color: #bfbfbf;
}
.flink:hover, .hlink:hover, .tlink:hover, .downloadLink:hover
{
    color: #bbbbbb;
}

.topLinks
{
    padding-top: 15px;
}

.links
{
    width: 50px;
    height: 50px;
}

.ilink2
{
    margin-left: 50px;
}

.divider
{
    text-align:center;
    padding-top: 8%;
    font-family: Avalon;
    font-size: 64px;
    color: #FFFFFF; 
}

.underText
{
    text-align:center;
    font-family: Avalon;
    font-size: 36px;
    color: #FFFFFF;
}

#geisel
{
    float: right;
    position: relative;
    padding-right: calc((100% - 750px)/2);
}

.openText
{   
    float: left;
    color: white;
    font-family: Avalon;
    font-size: 36px;
    padding-top: 3%;
    padding-left: calc((100% - 750px)/2 + 15px);
}

.openTextE
{  
    float: left;
    color: white;
    font-size: 36px;
    padding-top: 2.7%;  
    padding-left: 10px;
}

#mainTextA
{ 
    float: left;
    color: white;
    font-family: Avalon;
    font-size: 16px;
    padding-left: calc((100% - 750px)/2 + 15px);
    padding-right: calc((100% - 750px)/2);
}

#mainTextB
{ 
    float: left;
    color: white;
    font-family: Avalon;
    font-size: 16px;
    padding-left: calc((100% - 750px)/2 + 15px);
    padding-right: calc((100% - 750px)/2 + 200px);
}

#mainTextC
{ 
    float: left;
    color: white;
    font-family: Avalon;
    font-size: 16px;
    padding-left: calc((100% - 750px)/2 + 15px);
    padding-right: calc((100% - 750px)/2 );
}


#parent
{
    display: inline-block;
}

.parentImages
{
    display: inline-block;
}

#mainText
{ 
    float: left;
    color: white;
    font-family: Avalon;
    font-size: 16px;
    padding-left: calc((100% - 750px)/2 + 15px);
    padding-right: calc((100% - 750px)/2 + 507px);
}

#mainText2
{  
    float: left;
    position: absolute;
    color: white;
    font-family: Avalon;
    font-size: 16px;
    padding-left: calc((100% - 750px)/2 + 256px);
    padding-right: calc((100% - 750px)/2 + 266px);
}

#mainText3
{  
    float: left;
    position: absolute;
    color: white;
    font-family: Avalon;
    font-size: 16px;
    padding-left: calc((100% - 750px)/2 + 497px);
    padding-right: calc((100% - 750px)/2 + 25px);
}

#cheers
{  
    float: left;
    color: white;
    font-family: Avalon;
    font-size: 16px;
    padding-top: 50px;
    padding-left: calc((100% - 750px)/2 + 632px);
    padding-right: calc((100% - 750px)/2 + 25px);
}

#signature
{  
    float: left;
    color: white;
    font-family: Avalon;
    font-size: 16px;
    padding-top: 10px;
    padding-left: calc((100% - 750px)/2 + 632px);
    padding-right: calc((100% - 750px)/2 + 25px);
}


.copyright
{
    text-align:center;
    font-family: Avalon;
    font-size: 10px;
    color: #FFFFFF; 
    padding: 25px 0;   
}
.logos
{
    clear:left;
    padding-left: calc(50% - 125px);
    padding-bottom: 25px;
    padding-top: 5%;
}

.info
{
    text-align: center;
    font-family: Avalon;
    font-size: 14px;
    color: white;
}


.scaleImage
{
    width: 100%;
    height: 100%;    
}

.scaleImage img 
{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.scaleImage:hover img 
{
    -webkit-transform:scale(1.10); /* Safari and Chrome */
    -moz-transform:scale(1.10); /* Firefox */
    -ms-transform:scale(1.10); /* IE 9 */
    -o-transform:scale(1.10); /* Opera */
     transform:scale(1.10);
}

.projectImages
{
  float: left;
  position: absolute;
  padding-top: 12%;
  padding-left: calc((100% - 750px)/2 - 60px);

}
.projectImages2
{
   float: left;
   padding-top: 12.15%;
   padding-left: 2%;
   
}

.projectImages3
{
   float: left;
   padding-top: 8.70%;
   padding-left: 2%;
   
}


.scaleProjectImages
{
    width: 100%;
    height: 100%;    
}

.scaleProjectImages img 
{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.scaleProjectImages:hover img 
{
    -webkit-transform:scale(1.05); /* Safari and Chrome */
    -moz-transform:scale(1.05); /* Firefox */
    -ms-transform:scale(1.05); /* IE 9 */
    -o-transform:scale(1.05); /* Opera */
     transform:scale(1.05);
}



