* {
  font-family: 'Quicksand', sans-serif;
}

html
{
  overflow-y: scroll;
  overflow-x: hidden;
}

body
{
  min-width: 1450px;
}

.clearfix{
    clear:both;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu_link
{
  color: white;
  z-index: 2;
  font-size: 16px;
  list-style-type: none;
  float: left;
  margin: 35px 10px 10px 35px;
  cursor: pointer;
  transition: 0.5s;
}

.menu_link:hover, .footer_links:hover
{
  opacity: 0.7;
}

#EL_logo
{
  float: right;
  width: 25px;
  height: 25px;
  margin: 35px 35px 10px 10px;
  cursor: pointer;
  transition: 0.5s;
}

#EL_logo:hover
{
  opacity: 0.7;
}

#menu_bar
{
  position: absolute;
  width: 100%;
  height: 25px;
}

#wallpaper
{
  padding: 0;
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  z-index: -1;
  float: right;
  position: relative;
}

#wallpaper_title
{
  position: relative;
  margin-top: 25%;
  float: left;
  color: white;
  font-size: 64px;
  position: absolute;
  text-align: center;
}

#wallpaper_buttons_box
{
  position: absolute;
  margin-top: 37.5%;
  cursor: pointer;
  margin-left: calc((100% - 520px)/2);
}

.wallpaper_buttons
{
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  font-size: 20px;
  float: left;
  color: white;
  margin-left: 50px;
  transition: 0.5s;
  width: 125px;
  text-align: center;
}

.wallpaper_buttons:hover
{
  background-color: white;
  color: black;
}

#about_section
{
  background-color: #edeeef;
  width: 100%;
  height: 500px;
  padding-top: 15px;
}

#about_title
{
  color: black;
  font-size: 36px;
  text-align: center;
}

#profile_image
{
  width: 250px;
  height: 260px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 10px 0px 0px 17%;
  float: left;
}

#about_text
{
  color: black;
  width: calc(55% - 250px);
  float: right;
  margin-right: 17%;
  text-align: justify;
  margin-top: 10px;
  font-size: 16px;
}

#projects_section
{
  width: 100%;
  height: 1150px;
  padding-top: 15px;
}

#projects_title
{
  color: black;
  font-size: 36px;
  text-align: center;
}

.projects_left
{
  width: 400px;
  height: 400px;
  background-color: black;
  margin-left: 17%;
  float: left;
  margin-top: 100px;
  margin-right: 50px;
}

.projects_right
{
  width: 400px;
  height: 400px;
  background-color: black;
  margin-right: 17%;
  float: right;
  margin-top: 100px;
  margin-left: 50px;
}

.projects_text
{
  font-size: 32px;
  color: white;
  text-align: center;
  vertical-align: middle;
  height: 300px;
  line-height: 300px;
}

.projects_inner_title
{
  text-align: center;
  font-size: 18px;
}

.projects_inner_text
{
  text-align: justify;
  margin-left: 15px;
  margin-right: 15px;
}

.projects_download
{
  list-style-type: none;
  width: 125px;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 20px;
  border: 1px solid black;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  transition: 0.5s;
}

.projects_download:hover
{
  color: white;
  background-color: black;
}

#skills_section
{
  width: 100%;
  height: 650px;
  background-color: #edeeef;
  padding-top: 15px;
}

#skills_title
{
  color: black;
  font-size: 36px;
  text-align: center;
}

.skills_banner
{
  width: 300px;
  height: 50px;
  display: inline;
  list-style-type: none;
  text-decoration: none;
  background-color: black;
  float: left;
  color: white;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 50px;
  vertical-align: middle;
  font-size: 22px;
  cursor: pointer;
  margin-top: 35px;
}

.skills_banner_content
{
  width: 300px;
  height: 375px;
  display: inline;
  list-style-type: none;
  text-decoration: none;
  float: left;
  background-color: white;
  margin-left: 20px;
  margin-right: 20px;
}

#java
{
  width: 80%;
  background-color: black;
  padding: 5px 10px 5px 10px;
}

#python
{
  width: 70%;
  background-color: black;
  padding: 5px 10px 5px 10px;
}

.skill_bar
{
  width: 250px;
  background-color: #edeeef;
  color: white;
  margin-top: 20px;
  margin-left: 25px;
}

#C
{
  width: 60%;
  background-color: black;
  padding: 5px 10px 5px 10px;
}

#Cplus
{
  width: 50%;
  background-color: black;
  padding: 5px 10px 5px 10px;
}

#contact_section
{
  width: 35%;
  height: 700px;
  float: left;
  width: 35%;
  margin-left: 10%;
}

#contact_title
{
  color: black;
  font-size: 36px;
  margin-left: 10%;
  margin-top: 50px;
}

#contact_text
{
  color: black;
  font-size: 20px;
  margin-left: 10%;
}

#contact_input
{
  float: right;
  width: 35%;
  margin-right: 10%;
  margin-top: 130px;
}

.name_input_text
{
  margin-top: 5px;
  float: left;
}

.name_input
{
  width: calc(45% - 10px);
  height: 40px;
  color: black;
  font-size: 14px;
  border: 0.5px solid #cccccc;
  box-shadow: none;
  outline: none;
  padding: 0px 10px 0px 10px;
  background-color: #fafafa;
}

.email_input
{
  width: calc(98% - 10px);
  border: 0.5px solid #cccccc;
  height: 40px;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  outline: none;
  margin-top: 25px;
  background-color: #fafafa;
}

#message_input
{
  width: calc(98% - 10px);
  border: 0.5px solid #cccccc;
  font-size: 14px;
  padding: 10px 10px 0px 10px;
  outline: none;
  height: 180px;
  background-color: #fafafa;
}

input[type=submit]
{
  border: 1px solid #cccccc;
  cursor:pointer;
  width: 200px;
  padding: 10px 40px 10px 40px;
  font-size: 20px;
  float: right;
  box-shadow: none;
  transition: 0.5s;
  color: black;
  outline: none;
  border-radius: 0px;
  margin-bottom: 50px;
}

input[type=submit]:hover
{
  background-color: black;
  color: white;
}

#contact_address_title
{
  color: black;
  font-size: 22px;
  margin-left: 10%;
  margin-top: 35px;
}

#contact_address
{
  color: black;
  font-size: 20px;
  margin-left: 10%;
  margin-top: 35px;
}

#footer
{
  background-color: #26262a;
  height: 200px;
  width: 100%;
  padding-top: 25px;
}

.footer_links
{
  color: white;
  z-index: 2;
  font-size: 16px;
  list-style-type: none;
  margin: 45px 10px 10px 45px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  display: inline;
}

.footer_imgs
{
  width: 45px;
  height: 45px;
  list-style-type: none;
  cursor: pointer;
  transition: 0.5s;
  margin-left: 10px;
  margin-top: 45px;
  transition: 0.5s;
}

.footer_imgs:hover
{
  opacity: 0.7;
}

.footer_img_list
{
  display: inline;
  text-align: center;
}

#footer_copyright
{
  color: #7d7d7f;
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
  padding-top: 25px;
}

.hover_div
{
  transition: 0.5s;
}

.hover_div:hover
{
  opacity: 0.7;
}
